#container {
     display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 10px; 
    
}
#image{
    height: 60%;
    width: 100%;
}
.class {
    margin-left: 15px;
    font-size: large;
}
.class1{
    padding-left: 15px;
    font-weight: 100;
    font-size: small;
    text-decoration: line-through;
}